body {
  font-family: "Helvetica", "Arial", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic"; 
}

table {
  min-width: 80%;
}

thead {
  display: none;
}

.chinese-area{
  font-family:"Microsoft Yahei","PingHei" ,"sans-serif";
}